   /* <div className="hero-btns">
            <button className="btn">
              <img src={play_icon} alt="" />
              Play
            </button>
            <button className="btn dark-btn">
              <img src={info_icon} alt="" />
              More info
            </button>
          </div> */






          <iframe width="560" height="315"
           src="https://www.youtube.com/embed/UkHxhPGpRuA?si=ykpwLWSE3SMWzhOp" 
           title="YouTube video player" frameborder="0" allow="accelerometer;    allowfullscreen></iframe>


/* 
.login {
  height: 100vh;
  background-image: linear-gradient(rgba(70, 67, 67, 0.6), rgba(0, 0, 0, 0.6)),
    url(/background_banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  width: 150px;
}
.login-form {
  max-width: 450px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 60px;
  border-radius: 5px;
  width: 100%;
}
.login-form h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}
.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.login-form input::placeholder {
  color: #5b4c4c;
  font-size: 16px;
  font-weight: 500;
}
.login-form button {
  width: 100%;
  padding: 10px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}
.form-help {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b3b3b3;
  font-size: 14px;
}
.remember {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form-switch {
  color: #b3b3b3;
  margin-top: 40px;
}
.form-switch span {
  color: #fff;
  cursor: pointer;
  margin-left: 6px;
  font-weight: 500;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.loading-spinner img {
  width: 70px;
}

/* Small Mobile (<=480px) */
@media (max-width: 480px) {
  .login-logo {
    width: 110px;
    margin-bottom: 20px;
  }
  .login-form {
    padding: 25px 20px;
  }
  .login-form h1 {
    font-size: 18px;
  }
  .login-form input {
    padding: 10px;
    font-size: 14px;
  }
  .login-form button {
    font-size: 14px;
    padding: 10px;
  }
  .form-switch {
    font-size: 13px;
  }
}

/* Extra Small Devices (<=320px) */
@media (max-width: 320px) {
  .login-logo {
    width: 90px;
  }
  .login-form {
    padding: 20px 15px;
  }
  .login-form h1 {
    font-size: 16px;
  }
  .login-form input {
    font-size: 13px;
    padding: 8px;
  }
  .login-form button {
    font-size: 13px;
    padding: 8px;
  }
  .form-help {
    font-size: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }
  .form-switch {
    font-size: 12px;
  }
} */
